*{
    margin: 0%;
    padding: 0%;

}
.container{
    margin:auto;
    width: 95%;
    min-height: 100vh;
    padding-top: 10px;

}

.heading{
    text-align: center;
    padding: 20px;
    background-color:#6666ff;
    border-radius: 15px;

    color: white;
}
img.card-img-top{
    width: 100%;
}
.card-body{
   color: white;
    background-color:#8080ff ;
}
.card{
    margin-top: 10px;
}
.card-body h5,p{
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    word-spacing: 2px;
}
.row {
    margin:10px;

}