*{
    margin: 0%;
    padding: 0%;

}
.container{
    margin:auto;
    width: 95%;
    min-height: 100vh;
    padding-top: 10px;

}

.heading{
    text-align: center;
    padding: 20px;
    background-color:rgb(244, 234, 234);
    border-radius: 15px;

    color: rgb(12, 9, 9);
}
img.card-img-top{
    width: 100%;
}
.row {
    margin:10px;

}